<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Categoryid:</strong>
  <%= @event.categoryId %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Datestart:</strong>
  <%= @event.dateStart %>
</p>

<p>
  <strong>Dateend:</strong>
  <%= @event.dateEnd %>
</p>

<p>
  <strong>Typeid:</strong>
  <%= @event.typeId %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
